<% provide(:title, "Profile Update") %>
<h1>User Profile</h1>
<div class="row">
  <div class="">
  <%= form_for(:profile, url: profile_update) do |f| %>

  <%= f.label :name %>
  <%= f.name_field :name, class: 'form-control' %>

  <%= f.label :job_title %>
  <%= f.text_field :job_title, class: 'form-control' %>

  <%= f.label :total_experience %>
  <%= f.number_field :total_experience, class: 'form-control' %>

  <%= f.label :career_highlights %>
  <%= f.text_field :career_highlights, class: 'form-control' %>

  <%= f.label :primary_skills %>
  <%= f.text_field :primary_skills, class: 'form-control' %>

  <%= f.label :picture %>
  <%= f.file_field :picture, class: 'form-control' %>
  
  <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>