<!DOCTYPE html>
<html>
  <head>
    <title>Flexipleapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', "data-turbo-track" => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Resume Builder", '#', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",  root_path %></li>
              <li><%= link_to "Help",  help_path %></li>
                <% if logged_in? %>
                  <li><%= link_to "Users", show_users_path %></li>
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Edit", edit_profiles_path %></li>
                    <li><%= link_to "Education", show_educations_path %></li>
                    <li class="divider"></li>
                    <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                    </li>
                  </ul>
                  </li>
                <% else %>
                  <li><%= link_to "Log in",  login_path %></li>
                <% end %>
            </ul>
          </nav>
      </div>
    </header>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
